




* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
  }
  
  body {
    margin: 0;
    font-family:Helvetica,Sans-serif;
    overflow-x:hidden;
  }
  
  h1, h2, h3, h4, p {
    text-align:center;
  }
  
  a
  {
    text-decoration: none;
    color: inherit;
  }

  img { width: 25%; }
  
  .page-container
  {
      width: 100%;
      background: white;
  }
  
  .page {
    width:100vw;
    overflow-x:hidden;
    overflow: hidden;
  }

  .page-header
  {
      width: 100%;
      position: fixed;
      background: white;
      display: flex;
      align-content: flex-end;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
      border-bottom: 4px solid gray;
  }
  
  .page-header h1
  {
      padding-left: 2vw;
      padding-right: 20vw;
  }
  
  .page-header h2
  {
      padding-left: 2vw;
      padding-right: 2vw;
  }
  
  .content
  {
    z-index: 10;
    width: 100vw;
    background-color: #170129;
  }
  
  /* ======================================= */
  /* ========== ART AND PARALLAX =========== */
  /* ======================================= */
  @media (min-width: 601px) {
  
      #nonparallax {
          display: none;
      }
      #parallax {
          display: block;
      }
  
  }
  
  .keyart {
    position: relative;
    z-index: -1;
    height: 1000px;
  }
  
  .keyart_layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    height: 1000px;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  
  .keyart_layer.parallax {
    position: fixed;
  }
  
  #keyart-0 {
    background-image: url("images/Untitled_Artwork-9.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-1 {
    background-image: url("images/Untitled_Artwork-8.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-2 {
    background-image: url("images/Untitled_Artwork-7.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-3 {
    background-image: url("images/Untitled_Artwork-6.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-4 {
    background-image: url("images/Untitled_Artwork-5.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-5 {
    background-image: url("images/Untitled_Artwork-4.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-6 {
    background-image: url("images/Untitled_Artwork-3.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-7 {
    background-image: url("images/Untitled_Artwork-2.png");
    transform: translate3d(0px, 0px, 0px);
  }
  #keyart-8 {
    background-image: url("images/Untitled_Artwork-1.png");
    transform: translate3d(0px, 0px, 0px);
    background-color: #ffaf1b;
  }
