.bio {
  background: #2D112B;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
  margin-top: 900px;
}
h1
{
  color: white;
  font-size: 40px;
  border: dotted red 2px;
  z-index: 100px;
}
